---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>You're <a href="https://www.lewagon.com">Le Wagon</a>'s boilerplate!</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->

<div class="header"><h2>> Jethro Tang</h2>
  <div class="container">
    <div class="d-flex row justify-content-center">
      <div class="col-xs-12 col-md-10 col-lg-8">
        <div class="terminal">
          <div class="terminal-header">
<!--             <div class="title">jethro</div>
 -->            <div class="exit"></div>
            <div class="minimise"></div>
            <div class="expand"></div>
          </div>
          <div class="window">
              <div class="window-padding">
                <div class="y">
                <div class="method">> Jethro.about </div>
                <div class="sss"> "test London" </div>
                </div>
                           <div class="y">
                <div class="method">> Jethro.about </div>
                <div class="sss"> "test London" </div>
                </div>
                                <div class="y">
                <div class="method">> Jethro.about </div>
                <div class="sss"> "test London" </div>
                </div>
                                <div class="y">
                <div class="method">> Jethro.about </div>
                <div class="sss"> "test London" </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
