---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>You're <a href="https://www.lewagon.com">Le Wagon</a>'s boilerplate!</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->

<div class="terminal">
  <div class="header"><h1>> Jethro Tang</h1></div>
    <div class="terminal-header">
      <div class="exit"></div>
      <div class="minimise"></div>
      <div class="expand"></div>
    </div>
  <div class="window">
    <p>tesst </p>
        <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>
    <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>

    <p>tesst </p>


    <p>tesst </p>
    <p>tesst </p>

    <p>tesst </p>


    <p>tesst </p>

    <p>tesst </p>

  </div>
</div>
