---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>You're <a href="https://www.lewagon.com">Le Wagon</a>'s boilerplate!</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->

  <h2 class="mainheading">> Jethro Tang</h2>
  <div class="container">
    <div class="d-flex row justify-content-center">
      <div class="col-xs-12 col-md-10 col-lg-8">
        <div class="terminal">
          <div class="terminal-header">
<!--             <div class="title">jethro</div>
 -->        <div class="exit"></div>
            <div class="minimise"></div>
            <div class="expand"></div>
          </div>
          <div class="window">
            <div class="window-padding"></div>
              <div class="y">
                <div class="method">> Jethro.about </div>
                <div class="sss"> "dnaljnasjl" </div>
              </div>
              <div class="y">
                <div class="method">> Jethro.currentLocation </div>
                <div class="sss"> "London, UK" </div>
              </div>
                <div class="y">
                  <div class="method">>Jethro.contactInfo </div>
                  <div class="sss"> ["jthtang10@outlook.com", "github"}</div>
                </div>
                <div class="y">
                  <div class="method">> Jethro.Skills </div>
                  <div class="sss"> "["Ruby", "JavaScript", "CSS", "HTML"]" </div>
                </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


Justin.contactInfo
Justin.resume
"justinchi.pdf"
Justin.interests
["design", "basketball", "cooking", "starcraft"]
Justin.education
"B.Sc. Structural Engineering - University of California, San Diego"
Justin.skills
["Sass", "JavaScript", "Python", "React", "Redux", "Flask", "webpack", "git"]

